/* 
Classes needed for
MAIN gameboard
    - border
    - fixed height/width
Grid
    - fixed width - 1/2 gameboard
Cells main class
    - border
    - maybe fix dimensions
All ship types
    - color variations
    - fixed dimensions
Fixed dimensions will help me simplify some of the math in my app.js
*/

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

@font-face {
  font-family: KingsAndPirates;
  src: url(/assets/fonts/KingsAndPirates-p7EAK.ttf);
}

body {
  height: 100%;
  width: 100vw;
  margin: 0 auto;
  background-image: url('/assets/backgrounds/background1.gif');
  background-size: 1900px;
  background-position: -150px -150px;
  background-repeat: no-repeat;
}

.gameboard {
  display: flex;
  position: fixed;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -35%);
  width: 800px;
  height: 400px;
  border: 5px solid #31211a;
  border-radius: 6px;
}

.title {
  font-family: "Pirata One";
  color: #efd97d;
  text-align: center;
  font-size: 150px;
  margin: 200px auto;
}

.rules {
  width: 500px;
  height: 500px;
  background-color: #efd97d;
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  color: #866d5d;
  background-color: #efd97d;
  border: 3px solid #ffefa0;
  text-align: center;
  font-family: "KingsAndPirates";
}

.rulesHeader {
  font-family: "KingsAndPirates";
  font-size: 40px;
  text-decoration: underline;
}

.rulesText {
  text-align: center;
  line-height: 50px;
}

.combatLog {
  display: flex;
  cursor: default;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  background-color: #16100df5;
  height: 150px;
  width: 450px;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 115%);
  text-align: center;
  border: 2px solid #efd87d12;
  color: #efd97d;
  border-radius: 10px;
  font-family: 'KingsAndPirates';
  font-size: 16px;
}

.grid {
display: flex;
flex-wrap: wrap;
overflow: visible;
height: 400px;
width: 400px;
}

#computerGrid {
  background: url("/assets/backgrounds/storm_gif.gif");
  background-size: 120%;
  filter: brightness(100%) contrast(105%) hue-rotate(15deg);
  animation: storm 10s infinite alternate linear;
}

@keyframes storm {
  0% {
    background-size: 120%;
  }
  100% {
    background-size: 130%;
  }
}

.cell {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid #141414;
  box-sizing: border-box;
  font-family: 'KingsAndPirates';
  text-align: center;
  font-size: 25px;
}

.cell:hover {
  border: 3px solid #efd97d;
  cursor:crosshair;
}

.playerCell {
  display: inline-block;
  border: 1px solid #254fb9;
  background-color: #278fe5;
  box-sizing: border-box;
  background: url("/assets/tiles/Water16x16.png");
  background-size: 150px;
  background-position: 14% 15%;
  animation: waves 3s infinite alternate-reverse linear;
}

@keyframes waves {
  0% {
    background-position: 14% 15%;
    filter: brightness(105%) contrast(100%);
  }
  100% {
    background-position: 26% 17%;
    filter: brightness(110%) contrast(110%);
  }
}

.shipContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  align-items: center;
  margin: 0 auto;
  top: 105%;
  width: 800px;
  height: 200px;
  border: 3px solid #278fe5;
  box-sizing: border-box;
  border-radius: 5px;
}

.shipPreview {
  background-color: rgb(156, 98, 52);
  height: 30px;
  margin: 5px;
}

.computer_sloop {
  background-color: none;
}
.computer_sloop_2 {
  background-color: none;
}
.computer_brig {
  background-color: none;
}
.computer_galleon {
  background-color: none;
}
.computer_dreadnought {
  background-color: none;
}

.player_sloop {
  background: #846744;
  border-color: #382317;
}
.player_sloop_2 {
  background: #856743;
  border-color: #382317;
}
.player_brig {
  background: #594529;
  border-color: #382317;
}
.player_galleon {
  background: #71472e;
  border-color: #382317;
}
.player_dreadnought {
  background: #442f23;
  border-color: #2a1a12;
}

.hit {
  background-color: #41f426b4;
}

.miss {
  background-color: #ff0000a5;
}

.sunk {
  background-color: #1c1c1c;
  color: #ffecec;
}

.button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 18px;
  color: #866d5d;
  height: 50px;
  width: 100px;
  background-color: #efd97d;
  border: 3px solid #ffefa0;
  border-radius: 5px;
}

.button:hover {
  filter: brightness(80%);
}

#startButton {
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#rulesButton {
  position: fixed;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#rotateButton {
  position: absolute;
  top: 210px;
}

hr {
  display: block;
  position: relative;
  top: 628px;
}