/* 
Classes needed for
MAIN gameboard
    - border
    - fixed height/width
Grid
    - fixed width - 1/2 gameboard
Cells main class
    - border
    - maybe fix dimensions
All ship types
    - color variations
    - fixed dimensions
Fixed dimensions will help me simplify some of the math in my app.js
*/

body {
  height: 100%;
  width: 100vw;
  margin: 0 auto;
  background: #ffffff;
}

.gameboard {
  display: flex;
  position: fixed;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 400px;
}

.grid {
display: flex;
flex-wrap: wrap;
overflow: visible;
height: 400px;
width: 400px;
}

#computerGrid {
  background: url("/assets/backgrounds/storm_gif.gif");
  background-size: 120%;
  filter: brightness(100%) contrast(100%);
}

.cell {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid #141414;
  box-sizing: border-box;
}

.cell:hover {
  border: 3px solid #0088ff;
}

.playerCell {
  display: inline-block;
  border: 1px solid #254fb9;
  background-color: #278fe5;
  box-sizing: border-box;
  background: url("/assets/tiles/Water16x16.png");
  background-size: 150px;
  background-position: 14% 15%;
  animation: waves 3s infinite alternate-reverse linear;
}

@keyframes waves {
  0% {
    background-position: 14% 15%;
    filter: brightness(105%) contrast(100%);
  }
  100% {
    background-position: 26% 17%;
    filter: brightness(110%) contrast(110%);
  }
}

.shipContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  align-items: center;
  margin: 0 auto;
  top: 105%;
  width: 800px;
  height: 200px;
  border: 3px solid #278fe5;
  box-sizing: border-box;
  border-radius: 5px;
}

.shipPreview {
  background-color: rgb(156, 98, 52);
  height: 30px;
  margin: 5px;
}

.sloop {
  background: #a07858;
}
.sloop_2 {
  background: #a18065;
}
.brig {
  background: #894e1d;
}
.galleon {
  background: #4b321e;
}
.dreadnought {
  background: #4b1b12;
}

.playerShip {
  background-image: none;
  background-color: #9c6234;
  border: #603f23;
}

.button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: rgb(19, 58, 95);
  height: 40px;
  width: 80px;
  background-color: #0088ff;
  border: 2px solid #99cffe;
  border-radius: 5px;
}

.button:hover {
  filter: brightness(80%);
}

#startButton {
  position: absolute;
  transform: translate(360px, -50px);
}

#rotateButton {
  position: absolute;
  top: 210px;
}

hr {
  display: block;
  position: relative;
  top: 628px;
}